
.login-card
{
    background: #FFFF;
    border-radius: 10px;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    
}

.login-card a
{
   color: #1c1c1c;
   font-weight: 400;
   font-size: 14px;
}


.form-control
{
    height: 50px;
    background-color: #f5f5f7;
    color: #131921;
}   



.btn-outline-primary
{
    
    background: #051724;
     color: #ffffff;
    
}

.btn-outline-primary:hover
{
    background-color: #051f31;
    color:#FEBD69 ;
}