.gaming,.beauty,.electronics,.sneakers ,.watch
{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    

}


.gaming:hover .action-bar
.beauty:hover .action-bar
.electronics:hover .action-bar
.sneakers:hover .action-bar
{
 right: 40px;
}

.image img
{
    width: 70%;
}

.wishlist-icon
{
    top: 8%;
    right: 41px;
}
.action-bar
{
    top: 15%;
    right: -30px;
    transition: 0.3s;
}


p{
  color: red;
  
}


 @media screen and (min-width: 576px) {
  .swiper-container {
    width: 576px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
} 

    
